<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap5 com rescap">

  <Identity
    Name="4a0e4208-8be1-4e00-90d0-404bf41c73d8"
    Publisher="CN=Q"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>OmniDown</DisplayName>
    <PublisherDisplayName>OmniDown</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="OmniDown"
        Description="OmniDown"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="OmniDown.exe"
          EntryPoint="Windows.FullTrustApplication">
        <uap5:StartupTask
            TaskId="OmniDownStartupTask"
            Enabled="false"
            DisplayName="OmniDown" />
        </uap5:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="magnet" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="thunder" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="omnidown" />
        </uap:Extension>

        <!-- Widget Provider COM Server -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="OmniDown.exe" Arguments="-widgetserver" DisplayName="OmniDown Widget Provider">
              <com:Class
                Id="E3D8F5A1-2B4C-4E6F-8A9D-1C2B3E4F5A6B"
                DisplayName="OmniDown Widget Provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <!-- Widget Provider App Extension -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            Id="OmniDownWidgets"
            DisplayName="OmniDown"
            Description="Monitor OmniDown downloads from the widgets board"
            PublicFolder="Assets\Widgets">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\Widgets\omnidown-widget-icon.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="E3D8F5A1-2B4C-4E6F-8A9D-1C2B3E4F5A6B" />
                </Activation>
                <Definitions>
                  <Definition
                    Id="OmniDown_Downloads"
                    DisplayName="OmniDown"
                    Description="Monitor OmniDown download activity"
                    AllowMultiple="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\Widgets\omnidown-widget-icon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\Widgets\omnidown-widget-preview.png" DisplayAltText="OmniDown downloads widget preview" />
                      </Screenshots>
                      <DarkMode />
                      <LightMode />
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
